.post-list-container {
  padding: 2rem;
  max-width: 700px;
  margin: 0 auto;
}

.loader {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.error {
  color: red;
  text-align: center;
  margin-top: 2rem;
}

.post-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;
}
